{% extends 'base.html' %}
{% block title %}Esqueceu a senha?{% endblock %}

{% block content %}
  <div style="color: white" id="fp">
    <form id="form_fp" method="POST">
      {% csrf_token %}
      <label for="fp_email">E-mail em que a conta foi registrada:</label>
      <input type="email" name="fp_email" id="fp_email">
      <b id="fp_error" style="color: red;"></b>
      <button type="submit">Resetar senha</button>
    </form>
  </div>
  <script>
    $('#form_fp').submit(function(e) {
      e.preventDefault()
      
      var fp_email = $('#fp_email').val()
      $.ajax({
        url: '/forgot_password/',
        method: 'POST',
        data: {fp_email: fp_email},
        headers: { "X-CSRFToken": "{{ csrf_token }}" },

        success: function(data) {
          if (data.is_valid == 0) {
            $('#fp_error').html(data.error)
          } else {
            $('#fp').html(`
            <form id="form_cc" style="color: white" method="POST">
              {% csrf_token %}
              <label for="confirm_code">Um código foi enviado para seu e-mail. Digite-o abaixo:</label>
              <input type="text" name="confirm_code" id="confirm_code">
              <button type="submit">Confirmar código</button>
            </form>
            `)
            $('#form_cc').submit(function(e) {
              e.preventDefault()
              var confirm_code = ($('#confirm_code').val() == data.code) ? 1 : 0
              console.log(confirm_code)
              $.ajax({
                url: '/confirm_code/',
                method: 'POST',
                data: {
                  confirm_code: confirm_code,
                  fp_email: fp_email
                },
                headers: { "X-CSRFToken": "{{ csrf_token }}" },

                success: function(data) {
                  if (data.email_verified) {
                    $('#fp').html(`
                      <p>Sua nova senha é <b>${data.new_password}</b></p>
                    `)
                  } else {
                    $('#fp').html(`
                      <p style="color: red;">Código incorreto! Tente novamente mais tarde!</p>
                    `)
                  }
                }
              })
            })
          }
        }
      })
    })
  </script>
{% endblock %}