{% extends 'base.html' %}
{% block title %}Esqueceu a senha?{% endblock %}
{% block meta %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/password.css' %}">
  <link rel="stylesheet" href="{% static 'users/form.css' %}">
{% endblock %}
{% block content %}
  <div id="fp" class="password">
    <h3>Esqueci minha senha</h3>
    <form class="p_form" id="form_fp" method="POST">
      {% csrf_token %}
      <label for="fp_email">E-mail em que a conta foi registrada:</label>
      <input class="p_input" type="email" name="fp_email" id="fp_email">
      <b id="fp_error" style="color: #b42f2f;"></b>
      <button type="submit" class="btn form_button purple_button">ENVIAR</button>
    </form>
  </div>
  <script>
    $('#form_fp').submit(function(e) {
      e.preventDefault()
      
      var fp_email = $('#fp_email').val()
      $.ajax({
        url: '/forgot_password/',
        method: 'POST',
        data: {fp_email: fp_email},
        headers: { "X-CSRFToken": "{{ csrf_token }}" },

        success: function(data) {
          if (data.is_valid == 0) {
            $('#fp_error').html(data.error)
          } else {
            $('#fp').html(`
            <h3>Esqueci minha senha</h3>
            <form class="p_form" id="form_cc" method="POST">
              {% csrf_token %}
              <label for="confirm_code">Um código foi enviado para seu e-mail. Digite-o abaixo:</label>
              <input class="p_input" type="text" name="confirm_code" id="confirm_code">
              <button class="btn form_button purple_button" type="submit">CONFIRMAR</button>
            </form>
            `)
            $('#form_cc').submit(function(e) {
              e.preventDefault()
              var confirm_code = ($('#confirm_code').val() == data.code) ? 1 : 0
              console.log(confirm_code)
              $.ajax({
                url: '/confirm_code/',
                method: 'POST',
                data: {
                  confirm_code: confirm_code,
                  fp_email: fp_email
                },
                headers: { "X-CSRFToken": "{{ csrf_token }}" },

                success: function(data) {
                  if (data.email_verified) {
                    $('#fp').html(`
                      <p style="text-align: center;">Sua nova senha é </p>
                      <b style="text-align: center;" style="font-size: 80%;">${data.new_password}</b>
                      <p style="text-align: center;">Copie essa senha e faça login com ela. Uma vez logado entre na opção "Trocar de senha" e defina uma nova senha.</p>
                      <a href="/login"><button class="btn form_button yellow_button" type="submit">RETORNAR</button></a>
                    `)
                  } else {
                    $('#fp').html(`
                      <p style="color: #b42f2f;">Código incorreto! Tente novamente mais tarde!</p>
                      <a href="/"><button class="btn form_button purple_button" type="submit">RETORNAR</button></a>
                    `)
                  }
                }
              })
            })
          }
        }
      })
    })
  </script>
{% endblock %}