{% extends 'base.html' %}
{% block title %}Home{% endblock %}

<!--LOAD CSS-->
{% block meta %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/home.css'%}">
{% endblock %}

{% block content %}
  <div id="home">
    <nav id='navbar'>
      <h2 id="navbar_title">League of Duo</h2>
      <button class="btn" id="navbar_mobile_button">
        <div id="mobile_button_1" class="button_line"></div>
        <div id="mobile_button_2" class="button_line"></div>
        <div id="mobile_button_3" class="button_line"></div>
      </button>
      <ul id="navbar_items">
        <a class="navbar_item" href="#about_section">COMO FUNCIONA?</a>
        <a class="navbar_item" href="/register">REGISTRAR</a>
        <a class="navbar_item" href="/login">LOGIN</a>
      </ul>
    </nav>
    <div id="home_section">
      <img id="home_image" src="../static/users/images/images/home_image.png" alt="home_image">
      <div id="header_text">
        <b>Cansado de jogar sozinho(a)?</b>
        <p>Ache o duo perfeito para você agora mesmo!</p>
        <a href="/register"><button class="btn">REGISTRAR</button></a>
      </div>
      <div id="about_section">
        <div class="about_step">
          <h3>1</h3>
          <img class="home_about_image" src="../static/users/images/images/home_about_1.svg" alt="home_about_1">
          <p>Crie sua conta e use seu usuário do LOL.</p>
        </div>
        <div class="about_step">
          <h3>2</h3>
          <img class="home_about_image" src="../static/users/images/images/home_about_2.svg" alt="home_about_1">
          <p>Procure pelo seu duo perfeito dentre todos os cards disponíveis.</p>
        </div>
        <div class="about_step">
          <h3>3</h3>
          <img class="home_about_image" src="../static/users/images/images/home_about_3.svg" alt="home_about_1">
          <p>Converse com os duos que também te aceitaram.</p>
        </div>
      </div>
    </div>
  </div>



  <script>
    var window_width = $(window).width();
    var is_show = false
    $('#navbar_mobile_button').click(() => {
      if (!is_show) {
        $('body').css({
          overflow: 'hidden',
          position: 'relative'
        })
        $('html').css({
          overflow: 'hidden',
          position: 'relative'
        })
        $('#mobile_button_1').css({
          transform: 'rotate(45deg) translate(0, 6px)',
          transition: 'transform .4s ease-out'
        })
        $('#mobile_button_2').css({
          display: 'none'
        })
        $('#mobile_button_3').css({
          transform: 'rotate(-45deg) translate(0,-6px)',
          transition: 'transform .4s ease-out'
        })

        $('#navbar_items').css({
          transform: 'translateX(0)',
          transition: 'transform .4s ease-out'
        })
        is_show = true
      } else {
        $('body').css({
          overflow: 'scroll',
        })
        $('html').css({
          overflow: 'scroll',
        })
        $('#mobile_button_1').css({
          transform: 'rotate(0) translate(0, 0)',
          transition: 'transform .4s ease-out'
        })
        $('#mobile_button_2').css({
          display: 'block',
          transition: 'display .4s ease-out'
        })
        $('#mobile_button_3').css({
          transform: 'rotate(0) translate(0)',
          transition: 'transform .4s ease-out'
        })

        $('#navbar_items').css({
          transform: 'translateX(100%)',
          transition: 'transform .4s ease-out'
        })
        is_show = false
      }
    })
    if (window_width <= 1024) {
      $('.navbar_item').click(() => {
        $('body').css({
          overflow: 'scroll',
        })
        $('html').css({
          overflow: 'scroll',
        })
        $('#mobile_button_1').css({
          transform: 'rotate(0) translate(0, 0)',
          transition: 'transform .4s ease-out'
        })
        $('#mobile_button_2').css({
          display: 'block',
          transition: 'display .4s ease-out'
        })
        $('#mobile_button_3').css({
          transform: 'rotate(0) translate(0)',
          transition: 'transform .4s ease-out'
        })
  
        $('#navbar_items').css({
          transform: 'translateX(100%)',
          transition: 'transform .4s ease-out'
        })
        is_show = false
      })
    }
    
  </script>
{% endblock %}