{% extends 'base.html' %}

{% block title %}
Reset password
{% endblock %}

{% block meta %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/password.css' %}">
  <link rel="stylesheet" href="{% static 'users/form.css' %}">
{% endblock %}

{% block content %}
  <div id="rp" class="password">
    <h3>Trocar de senha</h3>
    <form class="p_form" id="form_rp">
      <label for="rp_new_password">Sua nova senha:</label>
      <input class="p_input" name="rp_new_password" id="rp_new_password" type="password">
      <button class="btn form_button purple_button" type="submit">APLICAR</button>
    </form>
  </div>

  <script>
    $('#form_rp').submit(function(e) {
      e.preventDefault()
      var new_password = $('#rp_new_password').val()
      $.ajax({
        url: '/reset_password/',
        type: 'POST',
        data: {new_password: new_password},
        headers: { "X-CSRFToken": "{{ csrf_token }}" },

        success: function(data) {
          if (data.status == 'ok') {
            $('#rp').html(`
            <p>Sua senha foi trocada com sucesso</p>
            <a href="/login"><button class="btn form_button yellow_button">RETORNAR</button></a>
            `)
          } else {
            $('#rp').html(`
            <p>Ocorreu algum erro. Tente novamente mais tarde.</p>
            <a href="/login"><button class="btn form_button yellow_button">RETORNAR</button></a>
            `)
          }
        }
      })
    })
  </script>
{% endblock %}