  {% extends 'base.html' %}
  {% block title %}Chat{% endblock %}
  {% block meta %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/chat.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/navbar.css' %}">
  {% endblock %}
  
  {% block content %}
  <div id="chat">
    <div id="chat_topbar">
      <button class="btn" id="sidebar_mobile_button">
        <div id="mobile_button_1" class="button_line"></div>
        <div id="mobile_button_2" class="button_line"></div>
        <div id="mobile_button_3" class="button_line"></div>
      </button>
    </div>
    <div id="chat_sidebar">
    {% for el, i in matched_users %}
      <button class="btn chat_button chat_sidebar_duo" value="{{ el.user.id }}">
        <img class="chat_sidebar_image" src="https://ddragon.leagueoflegends.com/cdn/{{ game_version }}/img/profileicon/{{ i }}.png" alt="duo_user">
        <strong class="chat_sidebar_username">{{ el.user.username_lol }}</strong>
      </button>
    {% endfor %}
    </div>

    <section class="section">
      <div id="nochat_element">
        <p>Clique em um duo para começar a conversar!</p>
      </div>
      <div id="chat_element" style="display: none;">
        <div>
            <div id="chat_messages_section">
              <div>
                <div id="chat-messages">
                </div>
              </div>
              <div id="chat_input_div"> 
                <input class="input" type="text" placeholder="Escreva sua mensagem..." id="chat-message-input" maxlength="50">

                <div id="chat_input_button">
                  <a id="chat-message-submit">ENVIAR</a> 
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>
  <!-- NAVBAR -->
  <div class="navbar">
    <b>League of Duo</b>
    <a href="/profile" class="navbar_item">
      <p class="desktop_navbar_text">Perfil</p>
      <img class="mobile_navbar_icon" src="../static/users/images/icons/profile.png" alt=""></a>
    <a href="/cards"class="navbar_item">
      <p class="desktop_navbar_text">Cards</p>
      <img class="mobile_navbar_icon" src="../static/users/images/icons/cards.png" alt=""></a>
    <a href="/chat"class="navbar_item navbar_button_active">
      <p class="desktop_navbar_text">Chat</p>
      <img class="mobile_navbar_icon" src="../static/users/images/icons/chat.png" alt=""></a>
  </div>

    {{ room_name|json_script:"json-roomname" }}
    {{ username|json_script:"json-username" }}
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script>
      function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
      }
      $('#chat-message-input').keypress(function(e) {
        if (e.keyCode === 13) {
          console.log('trigged')
          var message = $('#chat-message-input').val()
          if (message == '') {
            alert('A mensagem não pode ser vazia!')
          } else {
            const room_name = JSON.parse(document.getElementById('json-roomname').textContent);
            const username = JSON.parse(document.getElementById('json-username').textContent);
            $.ajax({
              type:'POST',
              url:'send/',
              data:{
                username: username,
                room_name: room_name,
                message: message,
              },
              headers: { "X-CSRFToken": "{{ csrf_token }}" },
              success: function(data){
                var chat_messages = $('#chat-messages')

                chat_messages.append(
                  `<div class="my_message"><p >${data.message}</p></div>
                `)
                scrollToBottom()
              }
            });
            $('#chat-message-input').val('')
            }
          }
      })
    </script>

    <script>
      var is_shown = false

      $('.chat_button').click(function() {
        $('.chat_button').removeClass('selected_duo')
        $(this).addClass('selected_duo')
      })
      if ($(window).width() <= 768) {
        $('#sidebar_mobile_button').click(() => {
          if (!is_shown) {
            $('#mobile_button_1').css({
              transform: 'rotate(45deg) translate(0, 6px)',
              transition: 'transform .4s ease-out'
            })
            $('#mobile_button_2').css({
              display: 'none'
            })
            $('#mobile_button_3').css({
              transform: 'rotate(-45deg) translate(0,-6px)',
              transition: 'transform .4s ease-out'
            })
            $('#chat_sidebar').css({
              transform: 'translateX(0)',
              transition: 'transform .4s ease-out'
            })
            is_shown = true;
          } else {
            $('#mobile_button_1').css({
              transform: 'rotate(0) translate(0, 0)',
              transition: 'transform .4s ease-out'
            })
            $('#mobile_button_2').css({
              display: 'block',
              transition: 'display .4s ease-out'
            })
            $('#mobile_button_3').css({
              transform: 'rotate(0) translate(0)',
              transition: 'transform .4s ease-out'
            })
            $('#chat_sidebar').css({
              transform: 'translateX(-100%)',
              transition: 'transform .4s ease-out'
            })
            is_shown = false;
          }
        })
        $('.chat_button').click(() => {
          $('#chat_sidebar').css({
            transform: 'translateX(-100%)',
            transition: 'transform .4s ease-out'
          })
          $('#mobile_button_1').css({
            transform: 'rotate(0) translate(0, 0)',
            transition: 'transform .4s ease-out'
          })
          $('#mobile_button_2').css({
            display: 'block',
            transition: 'display .4s ease-out'
          })
          $('#mobile_button_3').css({
            transform: 'rotate(0) translate(0)',
            transition: 'transform .4s ease-out'
          })
          is_shown = false;
        })
      }

    </script>
    <!-- ENVIAR MENSAGEM -->
    <script>
    function scrollToBottom() {
      let objDiv = document.getElementById("chat-messages");
      objDiv.scrollTop = objDiv.scrollHeight;
    }
    $('#chat-message-submit').click(function(){
      var message = $('#chat-message-input').val()
      if (message == '') {
        alert('A mensagem não pode ser vazia!')
      } else {
        const room_name = JSON.parse(document.getElementById('json-roomname').textContent);
        const username = JSON.parse(document.getElementById('json-username').textContent);
        $.ajax({
          type:'POST',
          url:'send/',
          data:{
            username: username,
            room_name: room_name,
            message: message,
          },
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          success: function(data){
            var chat_messages = $('#chat-messages')

            chat_messages.append(
              `<div class="my_message"><p >${data.message}</p></div>
            `)
            scrollToBottom()
          }
        });
        $('#chat-message-input').val('')
      }
    })
    </script>
    <!-- ATUALIZAR MENSAGENS -->
    <script>
      function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
      }
      $('.chat_button').click(function(){
        setInterval(function(){
        const room_name = JSON.parse(document.getElementById('json-roomname').textContent); 
          $.ajax({
              type: 'POST',
              url : "get_messages/",
              data: {
                room_name: room_name,
              },
              headers: { "X-CSRFToken": "{{ csrf_token }}" },
              success: function(data){
                //$("#display").empty();
                $('#chat-messages').html('')
                var messages = data.messages
                for (i in messages) {
                  var username_lol = messages[i].username
                  var message = messages[i].message
                  if (username_lol == data.username) {
                    $('#chat-messages').append(
                      `<div class="my_message"><p >${message}</p></div>
                    `)
                  } else {
                    $('#chat-messages').append(
                      `<div class="duo_message"><p >${message}</p></div>
                    `)
                  }
                }
                scrollToBottom()
              },
              error: function(response){
                console.log('Error')
              }
          });
        },5000);
      })
    </script>

    <!-- AJAX REQUEST -->
    <script>
      function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
      }
      $('.chat_button').click(function(){
        var button_value = $(this).val();
        console.log(button_value)
        $.ajax({
          url: '/chat/',
          type: 'POST',
          data: {'button_value': button_value},
          async: false,
          headers: { "X-CSRFToken": "{{ csrf_token }}" },

          success: function(data) {
            var chat_element = $('#chat_element')
            var nochat_element = $('#nochat_element')
            chat_element.css('display', 'flex')
            nochat_element.css('display', 'none')

            var duo_username_lol = $('#duo_username_lol')
            duo_username_lol.html(data.duo_username_lol)

            var json_roomname = $('#json-roomname')
            json_roomname.html(data.room_name)
            
            var messages = data.messages
            var chat_messages = $('#chat-messages')
            chat_messages.html('')

            for (i in messages) {
              var username_lol = messages[i].username
              var message = messages[i].message
              if (username_lol == data.username) {
                chat_messages.append(
                  `<div class="my_message"><p >${message}</p></div>
                `)
              } else {
                chat_messages.append(
                  `<div class="duo_message"><p >${message}</p></div>
                `)
              }
            }
            scrollToBottom()
          }
        })
      })
    </script>
  {% endblock %}