#chat {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--section-background);
}
#nochat_element {
  text-align: center;
}

.section {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_sidebar_duo {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  background-color: var(--section-background);
  border-bottom: 1px solid var(--yellow);
  border-radius: 0;
  transition: filter .2s ease;
}
.chat_sidebar_duo:hover {
  filter: brightness(90%);
}
.chat_sidebar_image {
  border-radius: 50%;
  height: 90%;
}
.chat_sidebar_username {
  padding: 5px 10px;
}
#chat_sidebar {
  width: 20%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--section-background);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
#chat_messages_section {
  width: calc(200px + 30vw);
  height: calc(300px + 30vh);
}
#chat-messages {
  overflow-y: scroll;
  max-height: 400px;
  height: calc(100vh - 250px);
  min-width: 200px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 30px;
}
#chat_input_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat-message-input {
  width: calc(150px + 30vw);
  min-width: 200px;
  height: 40px;
  padding-right: 50px;
  padding-left: 20px;
  outline: none;
  border: none;
  border-radius: 50px;
  margin: 20px 0;

}

#chat-message-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px !important;
  margin-left: -50px;
  background-color: var(--purple);
  border-radius: 50px;
}
#chat_input_button:hover {
  cursor: pointer;
}

.my_message p,
.duo_message p {
  padding: 10px 20px;
  word-wrap: break-word;
}
.my_message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.my_message p {
  background-color: var(--purple);
  border-radius: 30px 0 0 30px;
  width: auto;
  max-width: 70%;
  height: auto; 
}
.duo_message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.duo_message p {
  background-color: var(--text-color);
  border-radius: 0 30px 30px 0;
  width: auto;
  max-width: 70%;
  height: auto;
}

#sidebar_mobile_button {
  display: none;
}
.selected_duo {
  background-color: var(--yellow) !important;
  color: var(--text-color);
}

@media (min-width: 768px) and (max-width: 1024px) {
  #chat_messages_section {
    width: calc(300px + 30vw);
    height: 70%;
  }
  #chat-message-input {
    width: calc(150px + 30vw);
  }
  #chat-messages {
    max-height: 700px;
  }
}
@media screen and (max-width: 768px) {
  #chat_topbar {
    width: 100vw;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    background-color: var(--background);
  }
  #sidebar_mobile_button {
    background: none;
    display: block;
  }
  .button_line {
    width: 30px;
    height: 4px;
    margin-top: 4px;
    background-color: var(--section-background);
    border-radius: 50px;
  }
  #chat_sidebar {
    transform: translateX(-100%);
    width: 75%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    left: 0;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 414px) {
  #chat_messages_section {
    width: calc(100px + 15vh);
    height: 70%;
  }
  #chat-message-input {
    width: calc(50px + 15vh);
  }

}



/* SCROLLBAR */
#chat-messages::-webkit-scrollbar, 
#chat_sidebar::-webkit-scrollbar {
  width: 5px;
}
#chat-messages::-webkit-scrollbar-track,
#chat_sidebar::-webkit-scrollbar-track{
  background-color: var(--section-background);
}
#chat-messages::-webkit-scrollbar-thumb, 
#chat_sidebar::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}
