body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.password, .p_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.password {
  background-color: var(--section-background);
  height: 70vh;
  margin-top: 15vh;
  width: 80%;
  border-radius: 50px;
}
.password h3 {
  margin: 20px auto;
}

.p_input {
  width: 18vw;
  min-width: 200px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--form-border);
  background-color: rgba(0,0,0,0);
  margin: 10px auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .password h3 {
    font-size: 40px;
  }
  .p_form {
    font-size: 25px;
  }
  .p_input {
    width: 35vw;
  }
  .form_button {
    width: 25vw !important;
    margin: 20px;
    font-size: 80%;
  }
}